.basketproduct__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 173px;
    align-items: start;
    width: 100%;
    padding: 39px 0 39px 0;
    border-bottom: 1px solid #D8D8D8;

}

.basketproduct__img {
    width: 136px;
    height: 136px;
    border-radius: 4px;
    overflow: hidden;
}

.basketproduct__title-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

.basketproduct__title {
    margin: 0;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    min-width: 250px;
}

.basketproduct__price {
    color: #A18A68;
    margin: 0;
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
}

.basketproduct__price::before{
    content: '₽ ';
}

.basketproduct__delete{
    transition: 0.5s opacity ease;
    cursor: pointer;
}

.basketproduct__delete:hover{
    opacity: 0.6;
}